extends ./layout

block content
    .row.mt
        .col-lg-12
            - tokenSetsPerAccount = user.plan.toObject().tokenSetsPerAccount
            if(tokenSetsPerAccount > user.tokenSet.length)
                a(href="/auth/tumblr", style="margin-bottom: 10px;").btn.btn-theme02 + Link another blog (#{user.tokenSet.length}/#{tokenSetsPerAccount})
            if(user.tokenSet.length)
                - for(var i = 0; i < user.tokenSet.length; i++)
                    .panel.panel-default
                        .panel-heading
                            h3.panel-title
                                - if(user.tokenSet[i].enabled)
                                    a(href="/unlink/" + user.tokenSet[i].id) Unlink this set of blogs
                                - if(!user.tokenSet[i].enabled)
                                    a(href="/auth/tumblr") Please reauth your account, make sure it's the same account
                        .panel-body
                            - for(var k = 0; k < user.tokenSet[i].blogs.length; k++)
                                - var blog = user.tokenSet[i].blogs[k];
                                .col-lg-3.col-sm-6.col-xxs-12
                                    a(href="/blog/" + blog.url + '/stats')
                                        .blogFrame
                                            img(src="https://api.tumblr.com/v2/blog/" + blog.url + ".tumblr.com/avatar/48", onError="this.onerror=null;this.src='/assets/img/ui-sam.jpg';")
                                            - var postsInQueue = numeral(blog.postsInQueue).format('0,0');
                                            - var maxPosts = numeral(user.plan.maxPosts).format('0,0');
                                            - var postsLeft = numeral(user.plan.maxPosts-blog.postsInQueue).format('0,0');
                                            .value.text-primary(title=postsLeft + ' posts left till queue full') #{postsInQueue}/#{maxPosts}
                                            .title Active
            else
                .panel.panel-default
                    .panel-body
                        h5
                            | Please
                            |
                            a(href="/auth/tumblr") link
                            |
                            | your blog
