extends ../../layout

block scripts
    script(src="/assets/js/jquery.timeago.js")
    script.
        $(document).ready(function() {
            $("[datetime]").timeago();
        });

block styles
    style.
        .form-horizontal.style-form .form-group:last-of-type {
            border: none;
            padding-bottom: 0;
            margin-bottom: 0;
        }

block content
    .form-panel
        h4.mb
            i.fa.fa-angle-right
            | 
            | Add new queue
        form(action="", method="post").form-horizontal.style-form
            .form-group
                label.col-sm-2.control-label Amount of posts per queue
                .col-sm-10
                    input(type="number", name="interval", min="1", max="250").form-control
            button(type="submit").btn.btn-theme Create
    .form-panel
        h4.mb
            i.fa.fa-angle-right
            | 
            | Current Queues
        - for(i in queues)
            - var queue = queues[i];
            form.form-horizontal.style-form(action="", method="post")
                .form-group
                    label.col-sm-2.control-label Start time
                    .col-sm-10
                        p.form-control-static #{queue.startHour}
                .form-group
                    label.col-sm-2.control-label End time
                    .col-sm-10
                        p.form-control-static #{queue.endHour}
                .form-group
                    label.col-sm-2.control-label Amount of posts
                    .col-sm-10
                        p.form-control-static #{queue.interval}
                .form-group
                    label.col-sm-2.control-label Last run time
                    .col-sm-10
                        p.form-control-static
                            time(datetime=(new Date(queue.lastRun).toISOString())) #{new Date(queue.lastRun).toISOString()}
                button(type="submit").btn.btn-theme Delete
    - for(i in postSets)
        - var postSet = postSets[i];
            .form-panel
                form.form-horizontal.style-form(action="", method="post")
                    .form-group
                        label.col-sm-2.control-label Posts at start
                        .col-sm-10
                            p.form-control-static #{postSet.postCount.start}
                    .form-group
                        label.col-sm-2.control-label Posts left in postSet
                        .col-sm-10
                            p.form-control-static #{postSet.posts.length}
